$paddingGeneral: 10px;

.body {
   font-family: 'Noto Sans', sans-serif;
}

@mixin estilofuente ($fontsize: 20px, $color:#11212E,$padding:10px, $fontstyle:normal) {
   font-size: $fontsize;
   color: $color;
   padding-inline: $padding;
   font-style: $fontstyle;
  }  
  
 h1 {
   @include estilofuente (28px, #0054B4, $padding, $fontstyle);
 }
  
 h2 {
   @include estilofuente (24px, #FD9C0C, $padding, italic);
 }
  
 h3 {
   @include estilofuente (1fr, #11212E, $padding, $fontstyle);
 }
  
 h4 {
   @include estilofuente (1fr, #3A4856, $padding, $fontstyle);
 }
  
 .container {
    &-fluid p {
        font-size: 16px;
        background-color: aliceblue;
    }

    &-fluid img {
        display: flex;
        margin-bottom: $paddingGeneral;
        width: 100%;
    }

    &-fluid a {
        display: inline;
        font-size: 18px;
        color: #FD9C0C;
    }
 }
  
 iframe {
    height: 100%;
    width: auto;
    margin-left: $paddingGeneral;
 }
  
 a {
    padding-left: 5px;
 }
  
 .form {
    &-general {
        padding: $paddingGeneral;
    }
    
    &-contribucion p {
        color: #FD9C0C;
    }
 }
  
 footer {
    font-size: 14px;
    text-align: center;
    color: #0054B4;
 }
 